.sidebarContainer {
  flex: 0 0 $sidebarWidth;
  overflow: hidden;
  width: $sidebarWidth;
  border-right: 1px solid var(--borderColor);
  background-color: var(--sidebarBackgroundColor);
  transition: transform 300ms ease-in-out;
  transform: translateX(0);
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
  border-bottom: 1px solid var(--borderColor);
}

.logoContainer {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  line-height: 0;
}

.logo {
  margin-right: 11px;
  width: 28px;
  height: 28px;
  filter: drop-shadow(0 0 6px rgba(0, 212, 255, 0.4));
}

.sidebarCloseButton {
  composes: button from '~Components/Link/IconButton.css';

  margin-right: 15px;
  color: var(--sidebarColor);
  text-align: center;

  &:hover {
    color: var(--primaryColor);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--sidebarBackgroundColor);
  color: var(--white);
}

@media only screen and (max-width: $breakpointSmall) {
  .sidebarContainer {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100vh;
    border-right: none;
  }

  .sidebar {
    position: fixed;
    z-index: 2;
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }
}
